version: '3.8'
services:
  db:
    image: postgres:16-alpine
    container_name: partners_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: securePassword123
      POSTGRES_DB: partners_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
