<header class="main-header">
  <div class="container header-content">
    <div class="logo">
      <img src="logo2ie.png" alt="Logo 2iE" class="header-logo-img">
      <span><span class="logo-red">2iE</span> PARTENARIATS</span>
    </div>
    <nav class="nav-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a>
      <a routerLink="/about">L'Institut</a>
      <a routerLink="/partners">Nos Partenaires</a>
      <a routerLink="/contact">Contact</a>
    </nav>
    <div class="header-actions">
      <a routerLink="/login" class="btn-text">Se connecter</a>
      <a routerLink="/register" class="btn btn-primary sm">Devenir Partenaire</a>
    </div>
  </div>
</header>
